@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/container.css");

body {
    font-family: 'Lora', serif;
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

footer {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
}
